@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-barlow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), "Barlow", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
